h1 {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h2 {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15% 7%;
}
#title {
    background-color:  #ff4c68;
    color: white;
}

i {
    padding : 4px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar */

.navbar {
    padding: 0 0 2.5rem;
}

.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
}

/* Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
}

.lower-divs{
    margin: 50px 0px 0px 50px;
    text-align: center;
    padding: 0;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

.card {
    margin: 20px;
}

#pricing {
    text-align: center;
    padding: 100px;
}

#prices {
    margin: auto;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.center {
    align-items: center;
    text-align: center;}

.cta-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    line-height:1.5rem;
}

#footer {
    text-align: center;
    padding: 7% 15%;
}

.social-icon {
    margin: 20px 10px;
}
@media (max-width: 1020px) {

    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}